p {
    color: rgb(0, 143, 168);
    font-size: 100;
    font-family: 'Arial', sans-serif ;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    line-height: 1.6;
    border:rgb(1, 255, 242);
    background-color: rgb(111, 255, 130);
 border:solid rgb(255, 0, 0);
 
 background-color: rgb(32, 255, 151);
border:solid rgb(0, 104, 5);
    }

}